

<div class="asset_card_white_text_div" style="align-items: end;">
    <div style="display:inline-block; ">
        <h5>
            {{ currency.currency_code }}
        </h5>
    </div>
    <div style="display:inline-block; ">
        <h7 style="display: block;">
            {{ currency.currency_name }}
        </h7>
    </div>
</div>


<div style="width: 100%; background-color: #FFFFFF; align-items: center; justify-content: center;
            border-radius: 0;">
    <img src="{{ currency.currency_national_flag.url }}" alt="" style="width: 100%; height: 100%;">
</div>