{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/masterinfoapp.css' %}">
    {% endblock %}

    <div style="max-width: 500px; margin: 4rem auto">
        <div class="mb-2">
            <h4 class="masterinfoapp_main_title">Data Mass Upload</h4>
        </div>
        <div style="display: block; margin-bottom: 1rem; background-color: #264257; color: #FFFFFF;">
            <div style="display: inline-block; width: 100%; background-color: #007D8A;">
                <div style="display: inline-block; float: left;">
                    <h5 style="margin-left: 1rem; color: #FFFFFF;">Excel Upload</h5>
                </div>
            </div>
            <div style="display: inline-block; width: 80%; margin-left: 1rem; background-color: #264257;">
                <form action="{% url 'dashboardapp:asset_history_excel_upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="x_content">
                        <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                            </label>
                        </div>
                        <input type="file" name="transaction_file" class="form-control">
                        <button type="submit" class="btn btn-warning btn-sm" >Upload</button>
                        <input type="hidden" name="user_id" value={{ user_id }}>
                        <input type="hidden" name="dashboard_pk" value={{ dashboard_pk }}>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}