{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/dashboardapp.css' %}">
    {% endblock %}

    <div style="margin: 1rem;">

        <div style="margin-bottom: 2rem;">
            <h3 style="display: inline-block; margin-right: 1rem; color: #FFFFFF; font-weight: bolder;">My Dashboard</h3>
            <h5 style="display: inline-block; margin-right: 1rem; color: #FFFFFF;">D+{{ d_day_count }}</h5>
            <div style="display: inline-block">
                {% if target_portfolio_pk %}
                    <a href="{% url 'portfolioapp:portfolio_detail' pk=target_portfolio_pk %}" class="btn btn-info">
                        <span class="material-icons">table_chart</span>
                    </a>
                {% else %}
                    <div style="display: inline-block;">
                        {% include 'portfolioapp/portfolio_create.html' with dashboard=target_dashboard %}
                    </div>
                {% endif %}

                <a href="{% url 'householdbookapp:householdbook_home' %}" class="btn btn-success">
                    <span class="material-icons">home</span>
                </a>

                <a href="{% url 'exchangeapp:myexchange_detail' pk=target_dashboard.pk %}" class="btn btn-info">
                    <span class="material-icons">currency_exchange</span>
                </a>
            </div>
        </div>

        {% if target_portfolio_pk %}
            <div>
                {% include 'dashboardapp/detail_asset_summary_table.html' %}
            </div>
            <div style="height: 40rem; border: 1px solid white;">
                {% include 'dashboardapp/detail_asset_summary_pie_chart.html' %}
            </div>
        {% endif %}
    </div>


{% endblock %}