<div style="color: #FFFFFF;">
    <h5>My Economic Status on {{ date_today }}</h5>
    <table class="dashboardapp_inverted_table" style="margin: 0; display: inline-block">
        <tr class="dashboardapp_inverted_table_tr" style="font-size: 1.5rem; background-color: #081321;">
            <th class="dashboardapp_inverted_table_th" style="height: 3.2rem; width: 9rem; background-color: #068CD6;">Total Asset</th>
            <th class="dashboardapp_inverted_table_th" style="height: 3.2rem; width: 9rem; background-color: #FF9C00;">Net Capital</th>
            <th class="dashboardapp_inverted_table_th" style="height: 3.2rem; width: 9rem; background-color: #FA0067;">Total Debt</th>
        </tr>
        <tr class="dashboardapp_inverted_table_tr" style="font-size: 1.5rem; background-color: #081321">
            <td class="dashboardapp_inverted_table_td" style="text-align: end; height: 3.2rem; width: 11rem; background-color: #264257;">{{ total_asset_amount }}</td>
            <td class="dashboardapp_inverted_table_td" style="text-align: end; height: 3.2rem; width: 11rem; background-color: #264257;">{{ net_capital_amount }}</td>
            <td class="dashboardapp_inverted_table_td" style="text-align: end; height: 3.2rem; width: 11rem; background-color: #264257;">{{ total_debt_amount }}</td>
        </tr>
{#        <tr class="dashboardapp_inverted_table_tr" style="font-size: 1rem; background-color: #264257">#}
{#            <th class="dashboardapp_inverted_table_th" style="height: 1.6rem; width: 7rem; background-color: #00C484;">Liquidity</th>#}
{#            <th class="dashboardapp_inverted_table_th" style="height: 1.6rem; width: 7rem; background-color: #264257;">Risk Asset</th>#}
{#            <th class="dashboardapp_inverted_table_th" style="height: 1.6rem; width: 7rem; background-color: #328BAB;">Real Estate</th>#}
{#            <th class="dashboardapp_inverted_table_th" style="height: 1.6rem; width: 7rem; background-color: #FF9C00;">Guardian</th>#}
{#            <th class="dashboardapp_inverted_table_th" style="height: 1.6rem; width: 7rem; background-color: #300600;">LT Debt</th>#}
{#            <th class="dashboardapp_inverted_table_th" style="height: 1.6rem; width: 7rem; background-color: #5C0B00;">ST Debt</th>#}
{#        </tr>#}
{#        <tr class="dashboardapp_inverted_table_tr" style="font-size: 1rem;">#}
{#            <td class="dashboardapp_inverted_table_td" style="text-align: end; height: 1.6rem; width: 8rem; background-color: #00C484;">{{ total_asset_amount }}</td>#}
{#            <td class="dashboardapp_inverted_table_td" style="text-align: end; height: 1.6rem; width: 8rem; background-color: #264257;">{{ total_asset_amount }}</td>#}
{#            <td class="dashboardapp_inverted_table_td" style="text-align: end; height: 1.6rem; width: 8rem; background-color: #328BAB;">{{ total_asset_amount }}</td>#}
{#            <td class="dashboardapp_inverted_table_td" style="text-align: end; height: 1.6rem; width: 8rem; background-color: #FF9C00;">{{ total_asset_amount }}</td>#}
{#            <td class="dashboardapp_inverted_table_td" style="text-align: end; height: 1.6rem; width: 8rem; background-color: #300600;">{{ total_asset_amount }}</td>#}
{#            <td class="dashboardapp_inverted_table_td" style="text-align: end; height: 1.6rem; width: 8rem; background-color: #5C0B00;">{{ total_asset_amount }}</td>#}
{#        </tr>#}
    </table>
</div>