<div class="diamond_goose_footer">
    <div class="diamond_goose_footer_button">
        <a href="{% url 'basecampapp:about_this' %}" class="link-info" style="text-decoration-line: none;">
            <span>About This</span>
        </a> |
        <span>Notice</span> |
        <a href="https://joonhyeok-hozy-kim.github.io/dist/index.html" class="link-info" style="text-decoration-line: none;"><span>Contact</span></a>
    </div>
    <div style="margin-top : 1rem; ">
        <h6 class="diamond_goose_footer_logo">Diamond Goose</h6>
    </div>
</div>