{% load static %}

<div class="diamond_goose_header" style="text-align:left;" >
    <div>
        <div style="display:block; height: 10rem;">
            <img src="{% static 'images/diamond_goose_logo_mk1.png' %}" alt="Logo Image"
                 style="display: inline-block; height: 90%; margin-left: 1rem; margin-right: 1.5rem; vertical-align: center;">
            <div style="display: inline-block; font-size: 2rem; vertical-align: bottom;" >
                Diamond
                <br>Goose
            </div>
        </div>

        <div style="margin-left:2rem; font-size: 1.5rem;">
             <a href="{% url 'basecampapp:diamond_goose_home' %}" class="link-info" style="text-decoration-line: none;">
                <span>Home</span>
            </a> |

            {% if user.is_authenticated %}
                {% if user.dashboard %}
                    <a href="{% url 'dashboardapp:detail' pk=user.pk %}" class="link-info" style="text-decoration-line: none;">
                        <span>My Dashboard</span>
                    </a> |
                {% else %}
                    <a href="{% url 'dashboardapp:create' %}" class="link-info" style="text-decoration-line: none;">
                        <span>Create Dashboard</span>
                    </a> |
                {% endif %}
            {% endif %}

            <a href="{% url 'masterinfoapp:assetmaster_list' %}" class="link-info" style="text-decoration-line: none;">
                <span>Master Info</span>
            </a> |

            {% if user.is_authenticated %}
                <a href="{% url 'accountapp:account_detail' pk=user.pk %}" class="link-info" style="text-decoration-line: none;">
                    <span>My Page</span>
                </a> |
                <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="link-info" style="text-decoration-line: none;">
                    <span>Logout</span>
                </a> |
            {% else %}
                <a href="{% url 'accountapp:account_create' %}" class="link-info" style="text-decoration-line: none;">
                    <span>Sign Up</span>
                </a> |
                <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="link-info" style="text-decoration-line: none;">
                    <span>Login</span>
                </a> |
            {% endif %}

            <a href="{% url 'hozylabapp:lab_home' %}" class="link-warning" style="text-decoration-line: none;">
                <span>Hozy's Lab</span>
            </a> |

        </div>
    </div>
</div>