{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/masterinfoapp.css' %}">
    {% endblock %}

    <style>

        .container {
            width: 100%;
        }

        .container a {
            width: 250px;
            text-decoration: none;
        }

        .container div {
            width: 250px;
            display: flex;
            justify-content: start;
            align-items: start;
            border-radius: 5px;
        }


    </style>

    <div style="width:100%; text-align: center; margin-bottom: 1rem;">
        <a href="{% url 'masterinfoapp:assetmaster_list' %}" class="btn btn-info">
            Assets
        </a>
        <a href="{% url 'masterinfoapp:currencymaster_list' %}" class="btn btn-warning">
            Currencies
        </a>
        <a href="{% url 'masterinfoapp:pensionmaster_list' %}" class="btn btn-success">
            Pensions
        </a>
        <a href="{% url 'masterinfoapp:assettypemaster_create' %}" class="btn btn-light btn-sm">
            <span class="material-icons">add</span>
        </a>
    </div>

    <div class="container">
        {% if queryset_asset_type_master_list %}
            {% for asset_type_master in queryset_asset_type_master_list %}
                <div style="background-color: {{ asset_type_master.color_hex }}; ">
                    <a href="{% url 'masterinfoapp:assettypemaster_update' pk=asset_type_master.pk %}">
                        <div class="asset_card_black_text_div" style="text-align: center;">
                            <div style="display:inline-block; color: {{ asset_type_master.text_color_hex }}; font-size: 1.5rem;">
                                {{ asset_type_master.asset_type_name }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
        {% endif %}
    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}