{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/masterinfoapp.css' %}">
    {% endblock %}

    <style>

        .container {
            width: 100%;
        }

        .container a {
            width: 250px;
            text-decoration: none;
        }

        .container div {
            width: 250px;
            display: flex;
            justify-content: start;
            align-items: start;
            border-radius: 5px;
        }


    </style>

    <div style="width:100%; text-align: center; margin-bottom: 1rem;">
        {% if masterinfoapp_currency_master_list_flag %}
            <a href="{% url 'masterinfoapp:assetmaster_list' %}" class="btn btn-info">
                Assets
            </a>
            <a href="{% url 'masterinfoapp:pensionmaster_list' %}" class="btn btn-success">
                Pensions
            </a>
        {% endif %}
        <a href="{% url 'masterinfoapp:currencymaster_create' %}" class="btn btn-light btn-sm">
            <span class="material-icons">add</span>
        </a>
    </div>

    <div class="container">
        {% if query_currency_master_list %}
            {% for currency in query_currency_master_list %}
                <div style="background-color: #264257;">
                    {% if masterinfoapp_currency_master_list_flag %}
                        <a href="{% url 'masterinfoapp:currencymaster_detail' pk=currency.id %}">
                    {% elif myexchange_currencymaster_list_flag %}
                        <a href="{% url 'exchangeapp:myexchange_currencymaster_detail' pk=currency.id %}">
                    {% endif %}
                        {% include 'snippets/currency_card.html' with currency=currency %}
                    </a>
                </div>
            {% endfor %}
        {% else %}
        {% endif %}
    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}